## Definitions of Terms
{% if incident_definition %}

### Incident

{{ incident_definition }}
{% endif %}
{% for term in terms %}

### {{ term.name }}
{% if term.description %}
{{ term.description }}

{% endif %}
{% for value in term.values %}
- **{{ value.label }}**: {{ value.description }}
{% endfor %}
{% endfor %}
